name: Publish Docker

on:
  workflow_dispatch:
  push:
    branches: [main]
    paths: /sample-packages/docker/Dockerfile

env:
  REGISTRY: ghcr.io
  #IMAGE_NAME: ${{ github.repository }}
  IMAGE_NAME: raftatgit/publish-the-fckn-package
  
jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    permissions: write-all
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: debug
        run: |
          echo "IMAGE_NAME: $IMAGE_NAME"
          echo "GITHUB_SHA: $GITHUB_SHA"
          echo "GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}"
      - name: build docker image
        run: docker build -t $REGISTRY/$IMAGE_NAME:$GITHUB_SHA -f sample-packages/docker/Dockerfile .
      - name: docker login
        run: echo ${{ secrets.GITHUB_TOKEN }} | docker login ghcr.io -u raftAtGit --password-stdin
      - name: docker push
        run: docker push $REGISTRY/$IMAGE_NAME:$GITHUB_SHA
  
